.umich-alerts {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    z-index: 99999;
    box-sizing: border-box;
}
.umich-alerts * {
    box-sizing: border-box;
}
.umich-alerts-wrap {
    position: relative;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
}
.umich-alerts-wrap:before,
.umich-alerts-wrap:after {
    content: ' ';
    display: table;
}
.umich-alerts-wrap:after {
    clear: both;
}

.umich-alerts h2,
.umich-alerts p,
.umich-alerts a {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', 'Roboto', 'Helvetica', 'Arial', 'Verdana', 'sans-serif';
    line-height: 1.3;
    letter-spacing: 0;
    border: none;
}

.umich-alerts .umich-alerts-icon {
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}

.umich-alerts .umich-alerts-icon.umich-alerts-icon--chevron {
    position: absolute;
    right: 10px;
    transition: all 0.5s ease;
}


.umich-alerts h2 {
    padding: 0 0 10px 0;
    margin-right: 20px;
    font-size: 30px;
}
.umich-alerts h2:before,
.umich-alerts h2:after {
    display: none;
    content: '';
}

.umich-alerts p {
    font-size: 16px;
}

.umich-alerts a {
    float: right;
    margin-top: 10px;
    text-decoration: underline;
}
.umich-alerts a:hover {
    text-decoration: none;
}

.umich-alerts.umich-ealert {
    background: #B22316;
    color: #fff;
}
.umich-alerts.umich-ealert h2,
.umich-alerts.umich-ealert p,
.umich-alerts.umich-ealert a {
    color: #fff;
}



.umich-alerts.collapsed {
    padding: 5px 0;
}

.umich-alerts.collapsed h2 {
    padding-bottom: 0;
    font-size: 16px;
    line-height: 1.1;
}
.umich-alerts.collapsed p,
.umich-alerts.collapsed a {
    display: none;
}
.umich-alerts.collapsed .umich-alerts-icon.umich-alerts-icon--chevron {
    transform: rotate( -90deg );
}

.umich-alerts-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
